.*.sw?
/coverage
/dist
/pkg
spec/acceptance/suites/*/nodesets
spec/fixtures/
/.rspec_system
/.bundle
/vendor
Gemfile.lock
# Tracking in git so pkg:single can build it (SIMP-10575)
# build/simp-vendored-r10k.spec
src/*
/.vagrant
/log
/.vendor
